<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<antipattern>
		<fields>
			<field name="antipattern_name" 	text="The Anti-pattern Name" 		field="textfield" 	required="yes"	default_value=""	placeholder="Anti-pattern name"/>
			<field name="known_as" 			text="Also Known As" 				field="textfield" 	required="yes"	default_value="N/A"	placeholder="Another name for anti-pattern, use ';' as separator. Default value: N/A"/>
			<field name="summary" 			text="Summary" 						field="textarea" 	required="yes"	default_value=""	placeholder="Summary of anti-pattern"/>
			<field name="context" 			text="Context" 						field="textarea" 	required="yes"	default_value=""	placeholder="Context of anti-pattern"/>
			<field name="unbalanced_forces" text="Unbalanced Forces" 			field="textarea" 	required="yes"	default_value=""	placeholder="Unbalanced forces"/>
			<field name="symptoms" 			text="Symptoms and Consequences" 	field="textarea" 	required="yes"	default_value=""	placeholder="Symptoms and consequences of using this anti-pattern"/>
			<field name="causes" 			text="Causes" 						field="textarea" 	required="yes"	default_value=""	placeholder="Causes of this anti-pattern"/>
			<field name="solution" 			text="(Refactored) Solution" 		field="textarea" 	required="yes"	default_value=""	placeholder="Solutions to prevent using this anti-pattern"/>
			<field name="variations"		text="Variations" 					field="textarea" 	required="no"	default_value=""	placeholder="Other variations of anti-pattern"/>
			<field name="examples" 			text="Example(s)" 					field="textarea" 	required="no"	default_value=""	placeholder="Examples"/>
			<field name="related" 			text="Related Anti-patterns" 		field="table" 		required="yes"	default_value=""	placeholder="">
				<column text="Anti-pattern" 					default_value="Anti-pattern name"/>
				<column text="Relation" 						default_value="Relation"/>
			</field>
			<field name="notes" 			text="Notes" 						field="textarea" 	required="no"	default_value=""	placeholder="Additional notes for this anti-pattern"/>
			<field name="sources" 			text="Sources" 						field="select" 		required="yes"	default_value=""	placeholder="Sources for this anti-pattern"/>
		</fields>
	</antipattern>
</configuration>